body {
    margin: 0;
    background: purple;
}

header {
    height: 7rem;
    background: blue;
}

.video-wrapper {
    justify-content: center;
    align-items: center;
    margin-left: 11rem;
    margin-top: 5rem;
}

.display {
    height: 15rem;
    width: 25rem;
    background: white;
}